*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background:#FCF995;
    display: flex;
}
#tabuleiro{
    width: 540px;
    height: 540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.memory-card{
    width: 23%;
    height: 23%;
    position: relative;
    margin: 5px;
    transform-style: preserve-3d;
    transition: 0.4s;
    
}
.memory-card:active{
    transform: scale(0.97);
}
.memory-card.virar{
    transform: rotateY(180deg);
}

.frente-carta,
.fundo-carta{
    width: 100%;
    height: 100%;
    position: absolute;
}

.frente-carta{
    transform: rotateY(180deg);
}
