body {
    height: 100vh;
    display: flex;
    background-image: url('../imgs/backgroundOnePiece.png');
    
    
}

.titulo-principal {
    width: 100%;
    background-color: #E3771B;
    height: 150px;
    text-align: center;
    margin-top: 2%;
}

.titulo-principal h1 {
    margin-top: 3%;
    font-size: 52px;
    font-family: 'Bungee Shade', cursive;
}

#tabuleiro {
    width: 40%;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    left: 30%;
    top: 25%;
    position: absolute;
   
}

.memory-card {
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
    
}

.memory-card:active {
    transform: scale(0.97);
}

.memory-card.virar{
    transform: rotateY(180deg);
}

.fundo-carta, .frente-carta {
    
    position: absolute;
    
}

.frente-carta {
    transform: rotateY(180deg);
}

.img-background {
    z-index: -1;
    position: relative;
    right: 0;
    bottom: 0;
}
.plays{
   position: absolute; 
   margin-top: 910px ;
   margin-left: 850px;
   text-align: center;
   font-size: 32px;
   font-family: 'Bungee Shade', cursive;
}
.badge{
    text-align: center;
    
}



